In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter.browser import Browser

In [3]:
url="https://mars.nasa.gov/news/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
#Nasa mars news first description text
description = (soup.find('div', class_="rollover_description_inner")).text
description

'\nNASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries. \n'

In [5]:
#Nasa mars news first title text
title_string=soup.find('img',class_='img-lazy')['alt']
title_string

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

In [4]:
### JPL Mars Space Images - Featured Image
url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [7]:
### JPL Mars Space Images - Featured Image
image_url=soup.find('article', class_='carousel_item')['style']
url_array=image_url.split("'")
url=url_array[1]
entire_url="https://www.jpl.nasa.gov" + url
entire_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17767-1920x1200.jpg'

In [5]:
### Mars Weather
url="https://twitter.com/marswxreport?lang=en"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [9]:
post=soup.find('div',class_="ProfileHeaderCard").p
post.text

'Updates as avail from the REMS weather instrument aboard @MarsCuriosity.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.'

In [6]:
### Mars Facts
url="https://space-facts.com/mars/"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [11]:
tables = pd.read_html(url)
df=tables[0]
html_table = df.to_html()
html_table.replace('\n', '')
df.to_html('table.html')
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
!open table.html

In [7]:
### Mars Hemispheres
url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [14]:
results=soup.find_all('div',class_='item')
base_url="https://astrogeology.usgs.gov"
images_url=[]
titles=[]
for result in results:
    titles.append(result.h3.text)
    images_url.append( base_url+result.a['href'])

In [15]:
hemisphere_image_urls = []
counter = 0
for x in images_url:
    hemisphere_image_urls.append({"title":titles[counter],"img_url":images_url[counter]})
    counter = counter+1